html, body {
  background: url('https://wallpapers.com/images/hd/street-fighter-4k-5nj0ts8tfimgdd7t.jpg') no-repeat center center fixed;
  background-size: cover !important;
  background-color:rgba(0, 0, 0, 0.5);
  background-position: center !important;
  background-attachment: scroll !important;
  background-repeat: no-repeat !important;
  font-family: 'Roboto', sans-serif !important;
  color: white !important;
  text-align: center !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh !important;
  width: 100vw !important;
}

.title-container {
  margin-left: 0 !important;
  text-align: left !important;
}

.container {
  text-align: left !important;
}


.main-title {
  font-family: 'Russo One', normal;
  font-size: 1.7rem;
  color: rgb(255, 255, 255);  
  text-transform: uppercase;
  text-align: left !important;
  margin-left: 20px !important; 
  padding: 20px;
  background: url('https://wallpapers.com/images/hd/black-spray-paint-splatter-texture-n1drtaca2r4ehppm.jpg') no-repeat center center;
  background-size: 770px;
  border-radius: 10px;
  display: inline-block;
  
}


main {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.logo-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  max-width: 100% !important;
  margin: 20px auto !important;

}

.logo-img {
  width: 100% !important;
  max-width: 550px !important;
  height: auto !important;
 
}


.search-section input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid #fcfcfa;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}


.carousel-inner img {
  margin-top: 0px;
  width: 100%; 
  height: auto; 
  object-fit: contain; 
}


.featured-characters {
  color:rgb(255, 90, 30) !important;
  font-family:'Russo One', normal !important;
  top: -280px; 
  margin-bottom: 30px;
  text-align: left; 
  padding-left: 20px; 
  width: 280px; 
  position: relative;

}

footer {
  padding: 0px;
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: auto;
}


.btn-learn-more {
  background-color: #7a7978;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-learn-more:hover {
  background-color: #ffd633;
  color: white;
}


@media (max-width: 768px) {
  .carousel-inner img {
      max-height: 70px;
      width: 200px;
  }
}

@media (max-width: 480px) {
  .carousel-inner img {
      max-height: 100px;
      width: 150px;
  }
}
