html, body {
    background: url('https://wallpapers.com/images/hd/street-fighter-4k-5nj0ts8tfimgdd7t.jpg') no-repeat center center fixed;
    background-size: cover !important;
    background-color:rgb(0, 0, 0);
    background-position: center !important;
    background-attachment: scroll !important;
    background-repeat: no-repeat !important;
    font-family: 'Russo One', normal !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh !important;
    width: 100vw !important;
  }
  
  
  .title-container {
    margin-left: 0 !important;
    text-align: left !important;
  }
  
  
  .main-title {
    font-family: 'Russo One', normal;
    font-size: 1.7rem;
    color: rgb(255, 255, 255);  
    text-transform: uppercase;
    text-align: left !important;
    margin-left: 20px !important; 
    padding: 20px;
    background: url('https://wallpapers.com/images/hd/black-spray-paint-splatter-texture-n1drtaca2r4ehppm.jpg') no-repeat center center;
    background-size: 770px;
    border-radius: 10px;
    display: inline-block;
    
  }
  
  
  main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
  }
  
  .logo-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    max-width: 100% !important;
    margin: 20px auto !important;
  
  }
  
  .logo-img {
    width: 100% !important;
    max-width: 685px !important;
    height: auto !important;
   
  }
  .search-section {
    text-align: center;
    margin: 20px auto;
    width: 100%;
    max-width: 770px;
  }
  
  
  .search-section input[type="text"] {
    width: 100%;
    max-width: 750px;
    padding: 10px 20px;
    font-size: 1.0rem;
    border-radius: 5px;
    border: 2px solid #fcfcfa;
    margin: auto;
    display: block;
    
  }
  .nav-bar {
    background-color: #000;
    color: #fff;
  }
  .nav-bar a {
    color: #fff
  }
  
  .nav-bar a:hover{
      color: #ccc
    }
  
    .featured-characters {
      font-family: 'Russo One', normal !important;
      display: block;
      position: relative;
      text-align: center;
      padding: 30px 0;
      margin: 10px auto;
      top: 40px;
      z-index: 2;
      color: #ff7b00 !important;
      background-image: url('https://i2.pngimg.me/thumb/f/720/comdlpng6938138.jpg');
      background-size: contain; /* This ensures the background fits */
      background-repeat: no-repeat; /* Prevents the image from repeating */
      background-position: center; /* Centers the paint splatter */
  }
  
  
  .featured-characters >h2 {
    color: rgb(255, 123, 0);
  }
  
  
  .carousel {
    width: 100%; 
    margin: 10px auto;
  }
  
  .carousel-inner  {
    width: 100%; 
    
  }
  
  .carousel-item {
    position: relative;
  }
  .carousel-item img {
    width: 100%; 
    height: auto;
  }
  
  .full-width-image-container {
    width: 100%; 
    margin-top: 0px; 
  }
  
  .full-width-image-container img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
  }
  
  
  footer {
    padding: 0px;
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: auto;
  }
  .about-section {
    position: relative;
    height: 500px;
    background-image: url('https://images4.alphacoders.com/121/1213932.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .text-overlay {
    color: rgb(246, 248, 251);
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  
  .text-overlay h2 {
    font-size: 2.8rem;
    margin-bottom: 10px;
  }
  
  .text-overlay p {
    font-size: 1.3rem;
  }
  
  .btn-learn-more {
    background-color: #7a7978;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-learn-more:hover {
    background-color: #ffd633;
    color: white;
  }
  
  
  @media (max-width: 768px) {
    .carousel-inner img {
        max-height: 70px;
        width: 200px;
    }
  }
  
  @media (max-width: 480px) {
    .carousel-inner img {
        max-height: 100px;
        width: 150px;
    }
  }